.column {
    flex: 25%;
    max-width: 25%;     
    padding: 0 30px;
}

.image {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin-bottom: 60px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1000px) {
    .column {
        flex: 50%;
        max-width: 50%;           
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;        
    }

    .image {
        margin-bottom: 30px;
    }
}