* { 
    box-sizing: border-box;
    transition: all ease-out 0.8s;
}

.header {
    /* overflow: hidden; */
    margin-bottom: 22px;
    /* margin-bottom: 45px; */
}
  
.name, .gallery {
    text-align: center;
    font-family: "Didact Gothic";
}

.name {  
    padding-top: 22px; /* Tania */
    font-size: 36px;
    letter-spacing: 1px;
    color: rgb(255,254,252);   
}

.gallery {  
    margin-top: -24px; /* Gallery */
    font-size: 66px;
    letter-spacing: 2px;
    color: rgb(187,187,187);  
}

/* LINKS */
.navigation {
    padding-top: 16px;
    margin: 0 auto;
    max-width: 500px;
}

.navigation::after {
    content: "";
    clear: both;
    display: table;  
}

.navigation .MenuLink {  
    float: left;  
    color: rgb(187,187,187);
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 18px; 
    width: 125px;
    border-top: 1px solid rgb(187,187,187);      
}

.navigation .MenuLink:hover {
    border-top: 1px solid white;
    color: white;
}

/* DROPDOWN */
.dropdown:hover .dropdown-content{
    visibility: visible;    
    opacity: 1;
}

.dropdown:hover .portfolio {
    border-top: 1px solid white !important;
    background: rgba(59, 69, 87, 0.6);
}

@media screen and (max-width: 600px) {
    .header {
        margin-bottom: 30px;
    }

    .navigation .MenuLink {
        float: none;
        display: block;
        text-align: center;
        width: auto;        
    }

    .navigation .MenuLink:hover + .MenuLink {
        border-top: 1px solid white;        
    }

    .navigation .MenuLink:hover:last-child {        
        border-bottom: 1px solid white;
    }

    .navigation .lastLink {
        border-bottom: 1px solid rgb(187,187,187);
    }

    .navigation {
        float: none;
        max-width: 100%;
    }

    .dropdown {
        background: rgba(59, 69, 87, 0.9);        
    }

    
}

