* {
    box-sizing: border-box;
}

.header {
    width: auto;
}

.imageHeader {
    background-image: url(https://image.ibb.co/gqJr5J/v.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-bottom: 60px;
}

.contentImageHeader {
    padding: 140px;
}

.name, .gallery, .navigation {
    text-align: center;
    /* border: 1px solid red; */
}

.name {       
    padding-top: 50px;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1em;
    /* line-height: 24px; */
    color: rgb(255,254,252);
    font-family: "Didact Gothic";    
    margin: 0;    
}

.gallery {       
    padding: 0px;
    margin: 0;
    font-size: 66px;
    letter-spacing: 2px;
    line-height: .8em;
    /* line-height: 28px; */
    color: rgb(187,187,187);
    font-family: "Didact Gothic";    
}



.navigation a {       
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(225,222,218);
    font-family: "Didact Gothic";
    text-decoration: none;    

    /* border: 1px solid red; */
}