.picture {
    margin: 0px;
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform ease-in-out 300ms;
}

.conPic:hover .picture {
    cursor: pointer; 
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;  
}

/* .picture:hover {
    
} */

.middle {
    position: absolute;    
    opacity: 0;
    background: rgba(59, 69, 87, 0.6);
    width: 100%;
    bottom: 0;
    padding: 5px;
}

.conPic:hover .middle {
    opacity: 1;    
}

.textPic {
    text-align: center;
    color: white;    
}